* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 10%;
    .textBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        h4{
            color: #adaaaa;
            letter-spacing: 2px;
            font-weight: 500;
        }
        h1{
            font-size: 44px;
        }
    }
    .imageBoxs{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .imgBox{
            width: 32%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 18px;
            .img{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 80%;
                }

            }
            h3{
                text-align: center;
            }
            span{
                color: gray;
            }
            p{
                text-align: center;
                color: gray;
            }
            .iconBox{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 16px;
                div{
                    background-color: rgb(150, 148, 148);
                    border-radius: 50%;
                    padding: 7px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    cursor: pointer;
                    transition: 0.4s;
                    &:hover{
                        background-color: rgb(100, 99, 99);
                    }
                }
            }
        }
    }
  }



  @media screen and (min-width: 300px) and (max-width: 576px) {
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 30px 10%;
        .textBox{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            h4{
                color: #adaaaa;
                letter-spacing: 2px;
                font-weight: 500;
            }
            h1{
                font-size: 44px;
            }
        }
        .imageBoxs{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            .imgBox{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 18px;
                .img{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 80%;
                    }
                    
                }
                p{
                    font-size: 14px;

                }
                
            }
        }
      }
  }