* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 7% 15px 7%;
  h1 {
    font-size: 40px;
    span {
      color: orangered;
    }
  }
  .navBar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .navBarHome a {
        color: orangered;
      }
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: black;
          transition: 0.4s;
          &:hover {
            color: orangered;
          }
        }
      }
    }
  }
  .basketIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: white;
    button {
      cursor: pointer;
      padding: 5px;
      border: none;
      background-color: white;
      font-size: 18px;
    }
  }
  .hamburgerMenu {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    padding-right: 30px;

    ul {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: black;
          transition: 0.4s;
          text-align: end;
          &:hover {
            color: orangered;
          }
        }
      }
    }
    &:hover ul {
      display: block;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 576px) {
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10% 15px 10%;
    h1 {
      font-size: 36px;
      span {
        color: orangered;
      }
    }
    .navBar {
      width: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navBarHome a {
          color: orangered;
        }
        li {
          list-style: none;

          a {
            text-decoration: none;
            color: black;
            transition: 0.4s;
            &:hover {
              color: orangered;
            }
          }
        }
      }
    }
    .hamburgerMenu {
      display: block;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      padding-right: 30px;

      ul {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-right: 30px;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: black;
            transition: 0.4s;
            text-align: end;
            font-size: 14px;
            &:hover {
              color: orangered;
            }
          }
        }
      }
      &:hover ul {
        display: block;
      }
    }
  }
}
